<nav>
    <img id="logo" src="/assets/img/logo.png" alt="">
    <section>
        <a routerLink="/" class="menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <div class="menu-link-icon">
                <img class="icon" src="/assets/icons/home.svg" alt="">
            </div>
            <span>Home</span>
        </a>
        <a routerLink="/albums" class="menu-link" routerLinkActive="active">
            <div class="menu-link-icon">
                <img class="icon" src="/assets/icons/album.svg" alt="">
            </div>
            <span>Albums</span>
        </a>
        <a routerLink="/songs" class="menu-link" routerLinkActive="active">
            <div class="menu-link-icon">
                <img class="icon" src="/assets/icons/music.svg" alt="">
            </div>
            <span>Songs</span>
        </a>
        <a routerLink="/artists" class="menu-link" routerLinkActive="active">
            <div class="menu-link-icon">
                <img class="icon" src="/assets/icons/user.svg" alt="">
            </div>
            <span>Artist</span>
        </a>
    </section>
    <section>
        <span class="section-title">PLAYLIST</span>
        <a routerLink="/playlist-register" class="menu-link create-playlist" routerLinkActive="active">
            <div class="menu-link-icon">
                <img class="icon" class="icon" src="/assets/icons/plus.svg" alt="">
            </div>
            <span> Create Playlist</span>
        </a>
        <!----------Playlists---------------->
        <a *ngFor="let playlist of playlist_list" routerLink="/playlist/{{playlist.id}}" class="menu-link" routerLinkActive="active">
            <div class="menu-link-icon">
                <img [src]="playlist.image_path ? apiUrl + '/' + playlist.image_path : '/assets/img/playlist.png'" alt="">
            </div>
            <span>{{playlist.name}}</span>
        </a>
        <!------------------------------>
    </section>
    <section>
        <a routerLink="/login" class="menu-link">
            <div class="menu-link-icon">
                <img class="icon" src="/assets/icons/logout.svg" alt="">
            </div>
            <span>Logout</span>
        </a>
        <a routerLink="/settings" class="menu-link" id="configuration-link" routerLinkActive="active">
            <div class="menu-link-icon">
                <img class="icon"src="/assets/icons/setting.svg" alt="">
            </div>
            <span>Ajustes</span>
        </a>
    </section>
</nav>