<nav>
    <img id="logo" src="/img/logo.png" alt="">
    <section>
        <a routerLink="/" class="menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <div class="menu-link-icon">
                <img class="icon" src="/icon/home-svgrepo-com.svg" alt="">
            </div>
            <span>Home</span>
        </a>
        <a routerLink="/albums" class="menu-link" routerLinkActive="active">
            <div class="menu-link-icon">
                <img class="icon" src="/icon/album-svgrepo-com.svg" alt="">
            </div>
            <span>Albums</span>
        </a>
        <a routerLink="/artists" class="menu-link" routerLinkActive="active">
            <div class="menu-link-icon">
                <img class="icon" src="/icon/user-svgrepo-com.svg" alt="">
            </div>
            <span>Artist</span>
        </a>
    </section>
    <section>
        <span class="section-title">PLAYLIST</span>
        <a routerLink="/playlist-register" class="menu-link create-playlist" routerLinkActive="active">
            <div class="menu-link-icon">
                <img class="icon" class="icon" src="/icon/plus-svgrepo-com.svg" alt="">
            </div>
            <span> Create Playlist</span>
        </a>
        <!----------Playlists---------------->
        <a *ngFor="let playlist of playlist_list" routerLink="/playlist/{{playlist.id}}" class="menu-link" routerLinkActive="active">
            <div class="menu-link-icon">
                <img src="{{apiUrl}}/{{playlist.image_path}}" alt="">
            </div>
            <span>{{playlist.name}}</span>
        </a>
        <!------------------------------>
    </section>
    <section>
        <a routerLink="/login" class="menu-link">
            <div class="menu-link-icon">
                <img class="icon" src="/icon/logout-svgrepo-com (1).svg" alt="">
            </div>
            <span>Logout</span>
        </a>
        <a routerLink="/configuration" class="menu-link" id="configuration-link" routerLinkActive="active">
            <div class="menu-link-icon">
                <img class="icon"src="/icon/setting-svgrepo-com.svg" alt="">
            </div>
            <span>Configuration</span>
        </a>
    </section>
</nav>