<div class="playlist">
    <section class="playlist-header">
        <div class="playlist-cover">
            <img [src]="image ? apiUrl + '/' + image : '/assets/img/playlist.png'" alt="">
        </div>
        <div  class="playlist-details" >
            <small>PLAYLIST</small>
            <span class="playlist-title">{{title}}</span>
            <span class="playlist-owner">By {{owner}}</span>
        </div>
    </section>
    <section class="playlist-songs">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>TITLE</th>
                    <th>ALBUM</th>
                    <th>DURATION</th>
                </tr>
            </thead>
            <tbody>
                <tr 
                *ngFor="let song of songs; let i = index" [class.active]="i === song_index" (click)="selectSong(i)">
                    <td>{{(i+1)}}</td>
                    <td class="title-item">
                        <img [src]="song.image_path ? apiUrl + '/' + song.image_path : '/assets/img/song.png'"  alt="">
                        <span class="title">{{song?.title || '-'}}</span>
                        <span class="artist">{{ song?.artist?.name || '-' }}</span>
                    </td>
                    <td>{{ song?.album?.title || '-' }}</td>
                    <td>--:--:--</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section>
        <input type="range">
    </section>
</div>